/*estilo para todos los tags li*/
li {
    width: 100px;
    margin: 100px;
    padding: 4px;
    list-style: none
  }
  
  /*estilos personalizados*/
  .midlaner {background-color: #eeeeee}
  .toplaner {background-color: #ffea00}